
.auth-form-container , .login-form, .register-form{
  text-align: center;
  min-height: 80vh;
  min-width: 90vw;
  color: white;
  align-items: center;
  justify-content: center;
  padding: 0.25rem;
  display: flex;
  background-image: linear-gradient(45deg, #93dcee 30%, #1347b8 90%);
  flex-direction: column;
}

@media screen and (min-width: 600px) {
  .auth-form-container{
    padding: 2rem;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0.5rem;
  }
}

input{
  margin: 0.25rem 0;
  border-radius: 10px;
  border: rgb(10, 47, 212) 1px solid;
  padding: 0.5rem;
}

label{
  font-size: 1rem;
  text-align: left;
  color: white;
  padding: 0.25rem 0;

}
button{
  border: none;
  font-weight: bold;
  background-color: aliceblue;
  color: rgb(10, 52, 165);
  padding: 10px;
  margin: 0.5rem 0;
  border-radius: 10px;
  cursor: pointer;
}
.link-button{
  background: none;
  color: white;
  text-decoration: underline;
}