
.login-form, .register-form, .addcar-form{
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 30px;
  transform: translate(-50%, -50%);
  text-align: center;
  text-shadow: 0cap 0px 1cqmax #ffffff;
  display: flex;
  border-radius: 1rem;
  flex-direction: column;
  justify-content: center;
  opacity: 0.9;
  /*background-image: linear-gradient(45deg, #93dcee 30%, #1347b8 90%);*/
  background-color: rgba(23, 53, 92, 0.7);
  border-color: transparent;
  border-style: solid; /* Add this line */
}

.select-menu{
  position: relative;
  top: -8px;
  right: 38%;
  width: 20%;
  height: 45px;
  border-radius: 0.5rem;
  border-width: 3px;
  border-color: rgb(3, 12, 88);;
}

.reports-form{
  position: absolute;
  top: 15%;
  left: 10%;
  text-align: center;
  width: 80%;
  min-height: 70%;
  text-shadow: 0cap 0px 1cqmax #ffffff;
  border-color: whitesmoke;
  border-width: 2px;
  border-style: solid; /* Add this line */
  border-radius: 1rem;
  flex-direction:row;
  background-color: rgba(23, 53, 92, 0.7);
  opacity: 0.8;
}

.Admin_page{
  position: absolute;
  top: 50%;
  left: 50%;
  padding-bottom: 4.3rem;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  margin: auto;
  flex-direction: column;
  opacity: 0.9;
  background-color: rgba(23, 53, 92, 0.7);
  border-color: transparent;
  border-style: solid; /* Add this line */
}
.LoginLabel, .RegisterLabel, .AddCarlabel{
  color: white;
}
.reports-header{
  color: white;
  font-size: 2rem;
  text-shadow: 0cap 0px 1cqmax whitesmoke;
  margin: 1rem 1rem 1.5rem -70rem;
}
.reports-label{
  font-size: 1rem;
  position: relative;
  width: fit-content;
  padding-left: 5px;
  margin-right: 10px;
}
.report-subform{
  position:absolute;
  top: 11%;
  right: 15%;
  flex-direction: row;
  border-collapse: collapse;
}

.background_image{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.9;
  filter: brightness(70%);
  background-size: cover;
  background-position: center;
}

.auth-form-container{
  padding: 1rem;
  border: 1px solid white;
  border-radius: 10px;
  margin: 0.5rem;
  /*background-image: url("../images/bg_1.jpg");*/
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 600px) {
  .auth-form-container{
    padding: 2rem;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0.5rem;
  }
  
}
.reports-table{
  position: absolute;
  color: white;
  top: 30%;
  left: 10%;
  width: 80%;
  min-height: 60%;
  border-color: whitesmoke;
  overflow: auto;
  border-width: 2px;
  border-style: solid; 
  border-radius: 1rem;
  background-color: rgb(23, 53, 92);
  table-layout:auto;
  opacity: 0.9;
}

.reports-table td{
  vertical-align:top;
  padding: 0.5rem;
  border: 1px solid white;
  border-collapse: collapse;
  text-shadow: none;
}

input{
  margin: 0.3rem 0;
  border-radius: 10px;
  border: rgb(10, 47, 212) 1px solid;
  padding: 0.4rem;
  color: grey;
  background-color: whitesmoke;
}

label{
  font-size: 1rem;
  text-align: left;
  color: white;
  padding: 0.25rem 0;
  height: 1rem;
  width: 120px;

}
.cars-labels{
  font-size: 0.8rem;
  text-align: left;
  position: relative;
  top: 1.5rem;
  right: 4.1rem;
  color: rgb(172, 170, 170);
  width: fit-content;
}
.plate-labels{
  font-size: 0.8rem;
  position:relative;
  top: 1.5rem;
  right: 5rem;
  width: fit-content;
  color: rgb(180, 178, 178);

}

.reservation-button{
  background-color: rgb(119,212,142);
  font-weight:normal;
  font-size: 0.9rem;
  color: white;
  border-radius: 0rem;
}
.bookNowBTN{
  position: relative;
  top: 0.7rem;
  left: 4.5rem;
}

button{
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-weight: bold;
  background-color: aliceblue;
  color: rgb(10, 52, 165);
  padding: 10px;
  margin: 5rem 5rem 0 5rem;
  border-radius: 10px;
  cursor: pointer;
  height: 50px;
  width: 200px;
}
.reportbutton{
  position: fixed;
  top: 15.2%;
  right: 7%;
  width: 9%;
  height: 44px;
}

.link-button{
  background: none;
  color: white;
  margin: auto;
  width: auto;
  text-decoration: underline;
}

.radio-container {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0;
}

.radio-label {
  display: flex;
  padding: 0.5rem 0;
  align-items: center;
  margin-bottom: 10px;
}